<!DOCTYPE html>
<html>
<head>
{#<link crossorigin=\"anonymous\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css\" integrity=\"sha384-IS73LIqjtYesmURkDE9MXKbXqYA8rvKEp/ghicjem7Vc3mGRdQRptJSz60tvrB6+\" rel=\"stylesheet\">#}
<link rel="stylesheet" href="{{ url_for('static', filename='files/bootstrap.min.css') }}">
<style>
table.table1 tr td {
 border: 1px solid black;
 text-align: center;
 margin: 0px auto;
}

</style>

<meta charset="ISO-8859-1">
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}

<title>Informed Consent</title>
<style>
       .bodyColor {
  background-color: 	#E8E8E8;
}
</style>
</head>
<body class="bg-white">
	<div id="container" >

			<div id="header"></div>

		        <div id="main">

<p><strong>&nbsp;</strong></p>
<p style="text-align: center;"><strong>ONLINE INFORMED CONSENT FORM FOR RESEARCH </strong></p>
<p style="text-align: center;"><strong>BEING CONDUCTED UNDER THE AUSPICES OF</strong></p>
<p style="text-align: center;"><strong>THE UNIVERSITY OF TULSA</strong></p>
<p>&nbsp;</p>
<p><strong><u>INTRODUCTION:</u></strong>&nbsp; The name of this research study is:
    &ldquo;Not All Explanations are Created Equal: Investigating the Pitfalls of Current XAI Evaluation".&nbsp;
        The people working on this project are Joe Shymanski and Jacob Brue, graduate students of Computer Science, under the supervision of Prof Sandip Sen, PhD, Professor of Computer Science at The University of Tulsa<em>.</em> This document defines the terms and conditions for agreeing to participate in this research study.</p>
<p><strong><u>WHY IS THIS RESEARCH STUDY BEING DONE?</u></strong></p>
<li>The long-term goal of the research is to highlight the ways in which the current techniques used for evaluating computer-generated explanations are insufficient for proving their effectiveness. </li>
<li> We are interested in understanding what makes explanations effective for human satisfaction, understandability, and performance. </li>
<li> In the study, you will have to complete certain tasks, and you will receive anywhere from zero explanations to some number of visual or textual explanations which will assist you with the tasks. </li>
</ul>
<p><strong><u>WHAT IS THE KEY INFORMATION YOU NEED TO KNOW TO HELP YOU DECIDE IF YOU SHOULD TAKE PART IN THIS STUDY OR NOT?</u></strong><strong><em>:</em></strong></p>
<ul>
<li><strong><em><u>What are you being asked to do?</u></em></strong> If you agree to be in this study, you are being asked to:</li>
</ul>
<p>
    <ul>
        <li>Complete a short background survey. </li>
        <li>Attempt to solve a series of chess puzzles. </li>
        <li>Complete a user satisfaction survey regarding your experience. </li>
    </ul>
    You must complete this study in one sitting, which should take 25 minutes. There are timed sections that will 
    automatically move on if you reach the time limit. Please avoid mobile devices, as the study is similar to a game; small screens don't show full information.
</p>
<ul>
<li><strong><em><u>Any possible risks or discomforts to you?</u></em></strong></li>
</ul>
<p>No foreseeable risks, beyond those present in routine daily life, are anticipated in this study.</p>
<ul>
<li><strong><em><u>Any direct benefits for you</u></em></strong><strong><em>?</em></strong></li>
</ul>
<p>Although, there is no direct benefit, you will help the researchers identify key metrics that must be accounted for when evaluating computer-generated explanations for humans in the future. </p>
<ul>
<li><strong><em><u>Any paid compensation for your time?</u></em></strong></li>
</ul>
<p>If you completed the task in its entirety (all experiments and surveys) and provided valid responses 
    during the study, you will be paid $2.50 through Amazon Mechanical Turk. Additional payments, of up 
    to $1.00, will be paid depending on performance, which is based on how many tasks you are able to 
    complete successfully (20&cent per test puzzle completed successfully).
</p>
<ul>
<li>To make sure you are paying attention, the study includes 10 attention checks throughout the study. If you fail at least 3 of the attention checks, your work will be terminated, and no compensation will be provided. You will not be able to continue the study. </u></li>
<li>At the end of the study, you will receive a code. Please do not submit HIT without the code, as you may risk being rejected. </li>
<li><strong>Important:</strong><u> <span class="text-danger"> If you don't think that you have answered the responses thoughtfully
    and you are not sure you will pass a validity check, you should not submit your HIT .</span></u></li>
<li>
    You will only receive the compensation if you complete this study to its entirety (all experiments and surveys)
    and pass the validity and consistency checks.
    Please understand that we need to enforce these requirements to ensure the scientific validity of our experimental results.</li>
<li> <mark>Do not hit back/refresh buttons on browser, or any browser manipulation, as it may affect the study, and violate the terms of the study, and may result in rejections.
    If you have any issues, please email one of us (joe-shymanski@utulsa.edu or jacob-brue@utulsa.edu), and we can review the logs to see what happened, and help you.</mark></li>
</ul>
<ul>
<li><strong><em><u>How will your information and/or identity be protected? </u></em></strong></li>
</ul>
<p>We will not be able to identify you from your data. Results of this study, including summary of analysis of aggregated survey data, may be published in websites and peer-reviewed conference proceedings, journals, and presentations.</p>
<ul>
<li><strong><em><u>What are the total number of subjects the researcher(s) will try and recruit for this study?</u></em></strong></li>
</ul>
<p>The researchers expect to recruit up to 500 participants for the study.</p>
<p><strong><u>WHAT ARE THE CONDITIONS OF YOUR PARTICIPATION AND CAN YOU LEAVE THE STUDY BEFORE IT ENDS?</u></strong><em>&nbsp; </em></p>
<p>You must be at least 18 years old, reside in the United States, and you must be proficient in the English language to participate in this study. <em>&nbsp;
</em>Participation is voluntary.&nbsp; Refusal to participate will involve no penalty or loss of benefits to which you are otherwise entitled.&nbsp;
    Your participation in this study will take <span class="text-danger"> approximately 25 minutes</span> . 
    However, you can leave the study at any time, even if you have not finished,
    but you will be compensated only based on the compensation rules listed earlier.</p>
<p><strong><u>WHAT IF YOU HAVE QUESTIONS ABOUT YOUR PRIVACY PROTECTION FROM THE INTERNET SURVEY SERVICER?</u></strong>&nbsp;</p>
<p><em>*Please note that MTurk has specific privacy policies of their own.&nbsp; If you have concerns, you should consult: </em><a href="https://www.mturk.com/mturk/privacynotice"><em>https://www.mturk.com/mturk/privacynotice</em></a><em> .</em></p>
<p><strong><u>HOW WILL THE RESULTS BE USED? </u></strong></p>
<p>Results of this study, including summary of analysis of aggregated survey data, may be published in websites and peer-reviewed conference proceedings, journals, and presentations. All surveys and modification efforts will be identified with random numbers. The data collected will be aggregated and used for research. As the data will be summarized across all participants, we will not be able to identify you from your data.</p>
<p><strong><u>WHO CAN ANSWER YOUR QUESTIONS ABOUT THIS STUDY?</u></strong>&nbsp;</p>
                    <p><mark>Participants may contact Joe Shymanski at joe-shymanski@utulsa.edu or Jacob Brue at jacob-brue@utulsa.edu with questions about the study.</mark></p>
<p><strong><u>WHO CAN ANSWER QUESTIONS ABOUT YOUR RIGHTS AS A RESEARCH SUBJECT?</u></strong></p>
<p>You should contact Research Compliance at 918-631-3310 or via e-mail at <a href="mailto:researchcompliance@utulsa.edu">researchcompliance@utulsa.edu</a> or the researchers listed above. </p>
<p><strong><u>PARTICIPANT&rsquo;S RIGHTS</u></strong></p>
<ul>
<li>You have been given an opportunity to read and discuss the informed consent and ask questions about this study;</li>
<li>You have been given enough time to consider whether or not you want to participate;</li>
<li>You have read and understand the terms and conditions and agree to take part in this research study;</li>
<li>You understand your participation is voluntary and that you may stop participation at any time without penalty.</li>
</ul>
<p><strong><em>Please indicate below if you agree to participate in this research study or not.</em></strong></p>
				<table>
					<tr>
						<td><input type="button" value="Quit" onclick="window.location='https://worker.mturk.com/'" ></td>
						<td></td>
						<td></td>
						<td></td>
{#						<td><input type="button" value="Accept" onclick="window.location='/id'" ></td>#}
                        <td><input type="button" value="Accept" onclick="window.location.href='{{ url_for( 'showid', id_='id123') }}';" ></td>
					</tr>
				</table>

				</div>



			<div id="footer"></div>
			</div>
</body>
</html>



