<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='files/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Compensation & Completion Code</title>
<style>
    body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column; /* Center content vertically */
        align-items: center; /* Center content horizontally */
        height: 100vh; /* Ensure the content takes the full viewport height */
        margin: 0; /* Remove default body margin */
        background-color: #f7f7f7;
    }
</style>
</head>
<body  class="bg-white">
<br>
<br>
    <p class="h5">
    Congratulations on completing ths study!
        <br>
        <br>
    Please enter the following completion code into Amazon Mechanical Turk so you can be
    verified that you completed the study fully, and be able to recieve the below payment.
    </p>
    <br>
    <br>
    <p class="h6">
        Base Compensation: <mark> $2.50 </mark>
    </p>
    <p class="h6">
        Bonus Compensation: <mark> {{ "$%.2f"|format(compensation) }} </mark>
    </p>
    <p class="h6">
        Completion Code: <mark> {{ completion_code }} </mark>
    </p>
<br>
<br>
    <p class="h5" style="padding-left: 10px">
        Thank you!
    <p/>

<br>



</body>
</html>